@import '../color-palette';
@import '../effects-mixins';

.navbar {
  background-color: $secondary-background-color;
  .navbar-right {
    li {
      a {
        color: $secondary-font-color;
      }
    }
  }
}

form.navbar-form {
  width: 65%;
}

.navbar-brand {
  padding: 8px 0 15px 10px;
}

div.search {
  padding: 0;
  input {
    width: 75%;
    margin-top: 5px;
    border-radius: 3px;
    background-color: #eeeeee;
    &:focus {
      background-color: $primary-font-color;
      border: 3px solid $secondary-font-color;
      @include fade-transition();
      outline: none;
    }
  }
  button, button:focus {
    /*@include fade-transition();*/
    width: 15%;
    /*height: %;*/
    background-color: $fourth-background-color;
    color: $primary-font-color;
    margin: 2px 0 0 0;
    border-margin: 0;
    text-align: center;
    &:hover {
      @include fade-transition();
      background-color: $primary-font-color;
      color: black;
    };
  }
  .btn {
    padding: 1px 12px 0 12px;
  }
}

#home-button {
  /*padding-bottom: 10px;*/
  /*margin: auto 0;*/
};
