<div ng-controller="SignUpCtrl as su">
<form class="form-horizontal" ng-submit="su.post()" role="form">
<fieldset>

<!-- Title -->
<legend>Sign Up</legend>

<!-- Name input-->
<div class="form-group">
  <div class="col-md-9">
    <div class="form-group row">
      <label class="col-sm-2 control-label" for="username">First Name</label>  
      <div class="col-sm-4">
        <input id="textinput" name="textinput" type="text" placeholder="First Name" 
            class="form-control input-md" ng-model="su.firstname">
      </div>
      <label class="col-sm-2 control-label" for="textinput">Last Name</label>  
      <div class="col-sm-4">
        <input id="textinput" name="textinput" type="text" placeholder="Last Name" 
            class="form-control input-md" ng-model="su.lastname">
      </div> 
    </div>
  </div>
</div>

<!-- Username input-->
<div class="form-group">
  <div class="col-md-9">
  <label class="col-md-3 control-label" for="textinput">Username</label>  
  <div class="col-md-9">
    <input id="textinput" name="textinput" type="text" placeholder="Enter your username" 
    class="form-control input-md" ng-model="su.username">
  <span class="help-block alert-danger">{{su.usernameError}}</span>  
  </div>
  </div>
</div>

<!-- Password input-->
<div class="form-group">
  <div class="col-md-9">
  <label class="col-md-3 control-label" for="passwordinput">Password</label>
    <div class="col-md-9">
    <input id="passwordinput" name="passwordinput" type="password" 
    placeholder="Enter your password" class="form-control input-md" ng-model="su.password">
    <span class="help-block">{{}}</span>
  </div>
  </div>
  <button type="submit" value="Submit" class="btn btn-primary">Submit</button>
</div>



</fieldset>
</form>
</div>
<!--   <form ng-submit="su.post()">
    <input ng-model="su.username" placeholder="Username" type="text">
    <input ng-model="su.password" placeholder="Password"type="text">
  </form> -->
