<div ng-controller="SignUpCtrl as su">
  <form class="form-horizontal" ng-submit="su.post()" role="form" novalidate>
    <fieldset style="width: 50%">
    <!-- Title -->
      <legend>Sign Up</legend>

      <!-- Name input-->
      <div class="form-group">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-6">
              <label class="control-label" for="firstname">First Name*</label>  
              <input type="text" placeholder="First Name" class="form-control input-md" ng-model="su.firstname">
            </div>
            <div class="col-md-6">
              <label class="control-label" for="lastname">Last Name*</label>  
              <input type="text" placeholder="Last Name" class="form-control input-md" ng-model="su.lastname">
            </div> 
          </div>
        </div>
      </div>

      <!-- Contact Info input -->
      <div class="form-group">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-8">
              <label class="control-label" for="Website">Website</label>  
              <input type="text" placeholder="www.yourwebsite.com" class="form-control input-md" ng-model="su.website">
            </div>
            <div class="col-md-4">
              <label class="control-label" for="lastname">Email*</label>  
              <input type="email" placeholder="Email" class="form-control input-md" ng-model="su.email">
            </div> 
          </div>
        </div>
      </div>

      <!-- Username input-->
      <div class="form-group">
        <div class="col-md-12">
            <label class="control-label" for="textinput">Username*</label>  
            <input id="textinput" name="textinput" type="text" placeholder="Enter your desired username" 
              class="form-control input-md" ng-model="su.username">
              <div>
                <span class="help-block alert-danger fade in" data-dismiss="alert">{{su.usernameError}}</span>  
              </div>
        </div>
      </div>

    <!-- Password input-->
      <div class="form-group">
        <div class="col-md-12">  
          <div class="row">
            <div class="col-md-6">
              <label class="control-label" for="passwordinput">Password*</label>
              <input id="passwordinput" name="passwordinput" type="password" 
                  placeholder="Enter your password" class="form-control input-md" ng-model="su.password">
              <span class="help-block">{{}}</span>
            </div>
            <div class="col-md-6">
              <label class="control-label" for="passwordinput">Repeat Password</label>
              <input id="passwordinput" name="passwordinput" type="password" 
                  placeholder="Enter your password" class="form-control input-md" ng-model="su.password">
              <span class="help-block">{{}}</span>
            </div>    
          </div>
        </div>
      </div>
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-3" style="padding-left: 0">
              <button type="submit" value="Submit" class="btn btn-primary">Submit</button>
            </div>
            <div class="col-md-7">
              <span class="text-danger">{{su.defaultErrorMsg}}</span>
            </div>
          <div class="col-md-2" style="padding-right: 0; text-align:right">
              <span>* required</span>
          </div>
        </div>
      </div>
    </fieldset>
  </form>
</div>
<!--   <form ng-submit="su.post()">
    <input ng-model="su.username" placeholder="Username" type="text">
    <input ng-model="su.password" placeholder="Password"type="text">
  </form> -->
