$star-color: red;

$primary-font-color: white;
$secondary-font-color: #8DF2E2;

$primary-background-color: black;
$secondary-background-color: #424242;
$third-background-color: #242827;

/*packages*/
$package-color: #0f1a1c;
/*$background: red;*/
