div .landing-jumbotron {
  height:100vh;
  background-image: url("https://static.pexels.com/photos/20053/pexels-photo.jpg");
}

.no-margin {
  margin: 0;
}

.navigation {
  padding: 10px;
}

.search {
  padding-top: 10px
}

.center-horiz {
  margin-left: calc(25vw);
}

.center-vert {
  margin-top: calc(35vh);
}


/*===============PACKAGES==================*/

/*.packages {
  background-color: #082735;
  color: #56B7DA;
}*/

.commands {
  overflow: auto;
  height: 100px;
  border: 1px black solid;
  border-radius: 5px;
}

