<div ng-controller="PackageCreateCtrl as pk">

  <form name="newPackageForm" novalidate>
    <div class="col-md-12 form-group">
      <div class="col-md-9">
        <h4>Create New Package</h4>
      </div>
    </div>

    <!-- Title -->
    <div class="col-md-12 form-group">
      <div class="col-md-9" ng-class="{'has-error': pk.isInputInvalid(newPackageForm['title']), 'has-success': pk.isInputValid(newPackageForm['title'])}">
        <input ng-model="pk.fields.title" id="title" name="title" type="text" placeholder="Title*"
          class="form-control input-md required" ng-maxlength="15" ng-pattern="/^[A-Za-z0-9 ]+$/" required>
      </div>
      <div class="col-md-12">
        <span class="text-danger" ng-show="newPackageForm.title.$dirty && newPackageForm.title.$error.pattern">
                {{pk.errorMessages.title}}</span>
      </div>
      <div class="col-md-12">
          <span class="text-danger" ng-show="newPackageForm.title.$error.maxlength">
            {{pk.errorMessages.titleLength}}</span>
      </div>
    </div>

    <!-- Description -->
    <div class="col-md-12 form-group">
      <div class="col-md-9">
          <input type="text" placeholder="Description*" name="description" class="form-control input-md required" ng-model="pk.fields.description" ng-maxlength="100" required>
      </div>
      <div class="col-md-12">
          <span class="text-danger" ng-show="newPackageForm.description.$error.maxlength">
            {{pk.errorMessages.description}}</span>
      </div>
    </div>

    <!-- where command : action  key:value are displayed after being added-->
    <div class="col-md-12 form-group">
      <div class="col-md-9">
        <p>Package Content *:</p>
        <div class="col-md-12 commands">
        <div ng-repeat="command in pk.fields.commands">
          <div class="displayedCommand">
          <span>"{{command.command}}" : </span>
          <span>"{{command.action}}"</span>
          <span ng-click="pk.removeCommand(command.command)"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></span>
          </div>
        </div>
        </div>
      </div>
    </div>

    <!-- Adding new command:action pairs -->
    <div class="col-md-12 form-group">
      <div class="col-md-9 row">
        <div class="col-md-5" ng-class="{'has-error': pk.isInputInvalid(newPackageForm['command'])}">
          <input ng-model="pk.command" type="text" name="command" placeholder="Command" class="form-control input-md" ng-pattern="/^[A-Za-z0-9 ]+$/">
        </div>
        <div class="col-md-5">
          <input ng-model="pk.action" type="text" name="action" placeholder="Action" class="form-control input-md">
        </div>
        <div class="col-md-2">
         <button ng-click="pk.addCommand()" class="btn btn-primary">Add Command</button>
        </div>
      </div>
      <div class="col-md-12">
        <span class="text-danger" ng-show="newPackageForm.command.$dirty && newPackageForm.command.$error.pattern">
                {{pk.errorMessages.command}}</span>
      </div>
    </div>

    <!--submit package -->
    <div class="col-md-12">
      <div class="col-md-2">
        <input ng-click="pk.validateAndPost()" type="submit"  value="Submit Package" class="btn btn-success">
      </div>

      <div class="col-md-6 container error-display-container">
        <div class="col-md-12" ng-repeat="err in pk.fields.errorList">
          <span class="text-danger">{{err}}</span>
        </div>
      </div>

    </div>
  </form>
</div>
