<div ng-controller="PackageCreateCtrl as pk">
  <h1>Hello</h1>
  <form>
    <p>
      <input ng-model="pk.title" type="text" placeholder="Title">
    </p>
    <p>
      <textarea ng-model="pk.description" name="Description" id="desc" cols="30" rows="10"></textarea>
    </p>
    <p>
      <button ng-click="pk.addCommand()" class="btn btn-primary">
        Add Command
      </button>
      <form>
        <p ng-repeat="command in pk.commands track by $index">
          <input ng-model="command.command" type="text" name="command{{$index}}" placeholder="Command">
          <input ng-model="command.action" type="text" name="command{{$index}}" placeholder="Action">
        </p>
        <input ng-click="pk.addPackage()" type="submit" value="submit" class="btn btn-success">
      </form>
    </p>
  </form>
</div>
