@import '../color-palette';

body {
  background-color: black;
}

div .landing-jumbotron {
  height:100vh;
  background-image: url("../../img/lens-flare-vignette.jpg");
  background-repeat: no-repeat;
}

.title {
  color: $primary-font-color;
  font-size: 20px;
}

h1.title {
  font: normal normal 800 30px/40px Arial, Helvetica, sans-serif;
}




.btn-primary, .btn-primary:focus {
  background-color: #264348;
  border-color: $primary-font-color;
}

.btn-primary:hover {
  background-color: $primary-font-color;
  color: black;
}


i {
  padding-left: 5px;
  padding-right: 8px;
}

.no-margin {
  margin: 0;
}

/* Top Ten Packages */

.package-list-container {
  color: $primary-font-color;
}

.package-container {
  background-color: $secondary-background-color;
  border: 1px solid #ECF0F1;
}

.search {
  padding-top: 10px;
}

.center-horiz {
  margin-left: calc(25vw);
}

.center-vert {
  margin-top: calc(35vh);
}

.col-xs-5 {
  padding-top: 10px;
}


.icons {
  /*margin-left: 40px;*/
  margin-top: -5px;
  float:right;
}

.rating {
  font-size: 175%;
  padding: 0 0.5em;
}

/*.rating > a {
  text-decoration: none;
}

.rating .rating-highlight, .rating.rating-highlight:hover {
  color: #F4914E;
}

.rating .rating-normal, .rating.rating-normal:hover {
  color: #3C3C3C;
}*/

.commands {
  overflow: auto;
  height: 100px;
  border: 1px black solid;
  border-radius: 5px;
}

