<div class="row" ng-controller="UserMainCtrl as uc">
  <h3>{{uc.fields.userName}}</h3>

  <!-- <form>
    <p>
      <input ng-model="edit.package.title" type="text" placeholder="Title">
    </p>
    <p>
      <textarea ng-model="edit.package.description" name="Description" id="desc" cols="30" rows="10"></textarea>
    </p>
    <p>
      <button ng-click="edit.addCommand()" class="btn btn-primary">
        Add Command
      </button>
      <form>
        <p ng-repeat="command in edit.commands track by $index">
          <input ng-model="command.command" type="text" name="command{{$index}}" placeholder="Command">
          <input ng-model="command.action" type="text" name="command{{$index}}" placeholder="Action">
        </p>
        <input ng-click="edit.postEdit()" type="submit" value="submit" class="btn btn-success">
      </form>
    </p>
  </form> -->
</div>
