<div ng-controller="EditUserCtrl as eu">
  <form class="form-horizontal form-signup" name="signupForm" ng-submit="eu.validateAndPost()" role="form" novalidate>
    <fieldset style="width: 50%">
    <!-- Title -->
      <legend>Edit Your Profile</legend>

      <!-- Name input-->
      <div class="form-group">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-6" ng-class="{'has-error': eu.isInputInvalid(signupForm['first name']),
                'has-success': eu.isInputValid(signupForm['first name'])}">
              <label class="control-label" for="firstname">First Name*</label>
              <input type="text" placeholder="First Name" name="first name" class="form-control input-md required"
              ng-model="eu.fields['first name'].value" ng-minlength="1" required ng-blur='eu.setPristine(signupForm["first name"])'>
            </div>
            <div class="col-md-6" ng-class="{'has-error': eu.isInputInvalid(signupForm['last name']),
                'has-euccess': eu.isInputValid(signupForm['last name'])}">
              <label class="control-label" for="lastname">Last Name*</label>
              <input type="text" placeholder="Last Name" name="last name" class="form-control input-md required"
                ng-model="eu.fields['last name'].value"ng-minlength="1" required ng-blur='eu.setPristine(signupForm["last name"])'>
            </div>
          </div>
        </div>
      </div>

      <!-- Contact Info input -->
      <div class="form-group">
        <div class="col-md-12">
          <div class="row">
            <!-- Website -->
            <div class="col-md-8" ng-class="{'has-error' : eu.isInputInvalid(signupForm.website)}">
              <label class="control-label" for="Website">Website</label>
              <input type="url" name="website" placeholder="http://www.yourwebsite.com" class="form-control input-md"
                ng-model="eu.fields.website.value" ng-blur='eu.setPristine(signupForm.website)'/>
            </div>
            <!-- Email -->
            <div class="col-md-4" ng-class="{'has-error' : eu.isInputInvalid(signupForm.email)}">
              <label class="control-label" for="lastname">Email*</label>
              <input type="email" name="email"  placeholder="Email" class="form-control input-md required"
                ng-model="eu.fields.email.value" required ng-blur='eu.setPristine(signupForm.email)'/>
            </div>
          </div>
            <div>
              <span class="text-danger" ng-show="signupForm.website.$invalid">
               {{eu.errorMessages.website}}</span>
             <span class="text-danger" ng-show="signupForm.email.$invalid &&
                signupForm.email.$$lastCommittedViewValue !== ''" style="float:right">
               {{eu.errorMessages.email}}</span>
            </div>
        </div>
      </div>

      <!-- Username input-->
      <div class="form-group" ng-class="{'has-error': eu.isInputInvalid(signupForm.username),
          'has-success' : eu.isInputValid(signupForm.username)}">
        <div class="col-md-12">
          <label class="control-label" for="textinput">Username*</label>
          <input id="textinput" name="username" type="text" placeholder="Enter your desired username"
            class="form-control input-md required" ng-model="eu.fields.username.value"
            ng-minlength="4" ng-maxlength="12" ng-pattern="/^[A-Za-z0-9_]+$/" / required
            ng-blur='eu.setPristine(signupForm.username)'>
          <div>
            <!-- refactor this to warning block directive -->
          <div role="alert">
            <div>
              <span class="text-danger" ng-show="signupForm.username.$error.minlength">
                {{eu.errorMessages.minlength}}</span>
            </div>
            <div>
              <span class="text-danger" ng-show="signupForm.username.$error.maxlength">
                {{eu.errorMessages.maxlength}}.</span>
            </div>
            <div>
              <span class="text-danger" ng-show="signupForm.username.$dirty && signupForm.username.$error.pattern">
                {{eu.errorMessages.pattern}}</span>
            </div>
          </div>
            <span class="help-block alert-danger fade in" data-dismiss="alert">{{eu.usernameError}}</span>
          </div>
        </div>
      </div>

    <!-- Password input-->
      <div>
        <div class="col-md-12 form-group">
          <div class="row">
            <div class="col-md-6" ng-class="{'has-error': eu.isInputInvalid(signupForm.password),
                'has-success': eu.isInputValid(signupForm.password)}">
              <label class="control-label" for="passwordinput">Create New Password</label>
              <input name="password" type="password"
                  placeholder="Enter your password" class="form-control input-md required"
                  ng-model="eu.fields.password.value" ng-blur='eu.setPristine(signupForm.password)'>
            </div>
            <div class="col-md-6" ng-class="{'has-error': eu.isInputInvalid(signupForm['password repeat']),
                'has-success': eu.isInputValid(signupForm['password repeat'])}">
              <label class="control-label" for="passwordinput">Repeat New Password</label>
              <input name="password repeat" type="password"
                  placeholder="Repeat New Password" class="form-control input-md"
                  ng-model="eu.fields['password repeat'].value" required ng-blur='eu.setPristine(signupForm["password repeat"])'/>
            </div>
          </div>
        </div>
      </div>

      <!--current password -->
      <div>
        <div class="col-md-12 form-group">
          <div class="row">
            <div class="col-md-6">
              <label class="control-label" for="passwordinput">Your Current Password</label>
              <input name="password" type="password"
                  placeholder="Enter your password" class="form-control input-md required"
                  ng-model="eu.fields['current password'].value" required ng-blur='eu.setPristine(signupForm.password)'>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-12">
        <div class="row">
          <div class="col-md-3" style="padding-left: 0">
            <button type="submit" value="Submit" class="btn btn-primary">Submit</button>
          </div>
          <div class="col-md-7 container error-display-container">
            <div class="col-md-12" ng-repeat="err in eu.errorList">
              <span class="text-danger">{{err}}</span>
            </div>
          </div>
          <div class="col-md-2" style="padding-right: 0; text-align:right">
              <span><strong>* required</strong></span>
          </div>
        </div>
      </div>
    </fieldset>
  </form>
</div>

